*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  
  
  .img-wrapper{
    position: relative;
    overflow: hidden;
    padding: 15px;
  }
  .img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 2 / 2;
  object-fit: cover;
  object-position: center;
  }
  .img-wrapper > .content  {
  position:absolute;
  inset: 0;
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .img-wrapper > img,
  .img-wrapper > .content{
    transition: 200ms ease-in-out;
  }
  
  .img-wrapper > .content.fade {
    opacity: 0;
  }
  .img-wrapper:hover > .content.fade {
    opacity: 1;
  }
  
  .img-wrapper:hover > img.blur{
    filter: blur(5px);
  }
  
  
  
  nav{
    display: flex; /*Positioniert den nebeneinander*/
    justify-content: space-around; /* Macht einen abstand um den Text*/
    align-items: center; /*Zentriert den Text in der Mitte*/
    min-height: 10vh; /*Background Höhe*/
    background-color: #e2e2e169; /*Hintergrundfarbe*/
  }
  
  .logo{
    color: black; /*Logo Farbe*/
    text-transform: uppercase; /*Grossbuchstaben*/
    letter-spacing:3px; /*abstand der Buchstaben*/
    font-size: 30px;
  }
  
  .nav-links{
    display: flex; /*Text nebeneinander*/
    background-color: none;
    justify-content: space-around;/* Macht einen abstand um den Text*/
    width: 40%; /* breite vom Text*/
  }
  
  .nav-links a{
    color: black;/*Link Farbe*/
    letter-spacing: 1.5px; /*abstand der Buchstaben*/
    font-size: 15px;
  }
  
  .burger{ /* wird nicht angezeigt weil ich es für das Handy ist*/
    display: none;
    cursor: pointer;
  }
  
  .burger div{ /*alle divs vom Burger*/
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 768px) { /*Responsive für handy*/
  
  body{
    overflow-x: hidden; /*macht dass man nicht nach rechts scrollen kann*/
  }
  
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh; /*gibt uns Fullscreen*/
    top: 10vh;
    background-color: #e2e2e1;
    display: flex;
    flex-direction: column;
    align-items: center; /*macht dass der Text Zentriert ist*/
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.25s ease-in;
    color: black;
    z-index: 2;
  }
  .nav-links li{
    opacity: 0; /*durchsichtig, damit es später einen coolen slide effect hat.*/
  }
  .burger{
    display: block; /* macht dass es von display hidden im Mobile sichtbar wird*/
  }
  
  .nav-active{
    transform: translateX(0);
  }
  
    
  
  
  @media screen and (max-width: 1050px) { /*Responsive für tablet. */
  
  .nav-links{
    display: flex; /*Text nebeneinander*/
    background-color: none;
    justify-content: space-around;/* Macht einen abstand um den Text*/
    width: 60%; /* breite vom Text*/
  }
  
  .About{
    padding: 30px;
    color: rgb(0, 0, 0);
  }
  
  .About p{
    text-align: justify;
    font-size: 3.5vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 1;
  }
  
  }
  
  @keyframes navLinkFade{
  
    from{
      opacity: 0;
      transform: translateX(50px);
    }
  
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px); 
  }
  }